.canvasDiv{
    height: 250px;
    width: 600px;
    border: 0px solid #def294;
}

.btnDiv{
    height: 100px;
    width: 400px;
    margin-top: 15px;
}
.clearBtn{
    font-size: 22pt;
    background:#e57727;
    border: 0;
    margin-left: 25%;
}
.okBtn{
    font-size: 22pt;
    background: #36a5d9;
    border: 0;
    margin-left: 15%;
}